.main-class{
	background-color: #f3f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title{
	color: green;
	text-decoration: underline;
}

.table-list{
	border-top: 1px solid green;
	margin-top: 10px;
	padding-top: 20px;
	min-width: 700px;
}

.todo-section{
	background-color: #fff;
	border: 1px solid #f3f1f1;
	padding: 15px;
	text-align: center;
}

.text-line{
	padding: 2px;
	cursor: pointer;
	overflow: hidden;
}

.text-line input{
	min-width: 400px;
}

.date-line{
	padding: 2px;
	margin-right: 7px;
}

.inner-field{
	padding: 3px 5px 2px;
}

.btn{
	cursor: pointer;
	padding: 3px 7px 4px;
	margin-left: 10px;
	border: 1px solid #f3f1f1;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px orange;
	height: 15px;
}

.btn:hover{
	color: brown;
	box-shadow: 1px 1px 1px 1px yellow;
}

.btn:active{
	color: red;
}

.style-btn{
	display: inline-block;
}

.style-btn:hover{
	color: red;
}

.btn-panel .style-btn{	 
	cursor: pointer;
	padding: 3px 7px 4px;
	height: 15px;
	width: 15px;
	background: url('Full_sprite.png');
}

.row-list .edit-btn{
	background-position: 288px 976px;
}

.row-list .edit-btn:hover{
	background-position: 288px 708px;
}

.row-list:nth-child(odd) .edit-btn{
	background-position: 288px 437px;
}

.row-list:nth-child(odd) .edit-btn:hover{ 
	background-position: 288px 156px;
}

.row-list .remove-btn{
	background-position: 122px 976px; 
}

.row-list .remove-btn:hover{
	background-position: 122px 708px; 
}

.row-list:nth-child(odd) .remove-btn{
	background-position: 122px 437px; 
}

.row-list:nth-child(odd) .remove-btn:hover{
	background-position: 122px 156px; 
}

.row-list .save-btn{
	background-position: 247px 931px;
}

.row-list .save-btn:hover{
	background-position: 247px 663px;
}

.row-list:nth-child(odd) .save-btn{
	background-position: 247px 392px;
}

.row-list:nth-child(odd) .save-btn:hover{
	background-position: 247px 111px;
}

.tab{
	padding: 3px 17px 28px;	 
	margin-left: 10px;
	border: 0;
	border: 1px solid grey;
	border-bottom: 3px solid #fff; 
	box-shadow: none;
	height: 15px;
}

.tab:hover{
	box-shadow: none;
}

.filtr-area{
	margin-top: 30px;
}

.row-list.hidden, .hidden{
	display: none;
}

.row-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:  30px;
	padding: 5px;
}

.row-list:nth-child(odd){
	background-color: #f7ede1;
}

.ready-class{
	color: #00bcd4;
	text-decoration: line-through;
}
